.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: white;
  border: 1px solid orange;
  color: orange;
  padding: 0.25rem 2rem;
  border-radius: 7px;
  font-weight: 700;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
