.food {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: food-appear 1s ease-out forwards;
}

.food ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes food-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menubutton{
  height: 0.4in;
  width: 1in;
  background-color: black;
  color:white;
}

.menu{
  float: right;
  margin-top: -0.55in;
  margin-right: 0.7in;
}
